<section class="about__page">
  <h1 class="title">Rick and Morty GraphQL APP</h1>
  <div class="about__container">
    <p class="about__paragraph">
      Angular 11 + Rick and MOrty GraphQL Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Libero aliquam vitae odio voluptatem dolores hic ipsam
      perferendis! Dolorem quia ipsam alias minus. At non dolorem, sed tempore
      repellendus est hic?
    </p>
    <figure class="about__img">
      <img
        src="/assets/imgs/web_dev.svg"
        alt="Web dev"
        class="about__picture"
        rel="preload"
        as="image"
        width="406"
        height="406"
      />
    </figure>
  </div>

  <p class="about__copy">
    Developed by <span class="text-white">CRISTIAN</span>
  </p>
</section>
